* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.percussao {
  margin: 20px auto;
  padding: 2em;
  max-width: 1000px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.percussao h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  color: #1a1a1a;
  padding-bottom: 10px;
  border-bottom: 4px solid #23232e;
}

.percussao h3 {
  font-size: 1.5em;
  color: #1a1a1a;
  margin-top: 1.5em;
  border-left: 4px solid #23232e;
  padding-left: 10px;
}

.percussao ul {
  padding-left: 1.5em;
  margin-top: 1em;
}

.percussao li {
  margin-bottom: 0.5em;
}

.percussao p {
  font-size: 1em;
  margin: 1em 0;
  text-align: justify;
  line-height: 1.6;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}


#caixa:hover {
  cursor: url('../assets/baquetaCaixa-removebg-preview.png') 16 16, auto;
}

.card.tamborim img{
  cursor: url('../assets/baquetaCaixa-removebg-preview.png') 16 16, auto;
}

#terceira:hover {
  cursor: url('../assets/baquetaSurdo.png') 16 16, auto;
}

.imagem-interativa {
  position: relative;
  width: 150px;
  height: 150px;
}

.imagem-interativa img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.imagem-interativa {
  position: relative;
  width: 150px;
  height: 150px;
}

.imagem-interativa img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
}

/* Estilo das zonas interativas */
.zona {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 10;
  cursor: url('../assets/baquetaCaixa-removebg-preview.png') 16 16, auto;
  /* TEMPORÁRIO: fundo visível para teste */
  background-color: rgba(255, 0, 0, 0.1); 
}

.zona1 {
  top: 0;
  left: 0;
}
.zona2 {
  top: 0;
  left: 50%;
}
.zona3 {
  top: 50%;
  left: 0;
}
.zona4 {
  top: 50%;
  left: 50%;
}

